<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalchef">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PersonalChef"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.personalchef.GroceryActivity"></activity>
        <activity android:name="com.example.personalchef.TimerActivity" />
        <activity android:name="com.example.personalchef.categories.VegetarianActivity" />
        <activity android:name="com.example.personalchef.categories.DinnerActivity" />
        <activity android:name="com.example.personalchef.categories.LunchActivity" />
        <activity android:name="com.example.personalchef.categories.BreakfastActivity" />
        <activity android:name="com.example.personalchef.RepickActivity" />
        <activity android:name="com.example.personalchef.RecipeActivity" />
        <activity android:name="com.example.personalchef.RegisteredActivity" />
        <activity android:name="com.example.personalchef.RegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.personalchef.LoginActivity" />
        <activity android:name="com.example.personalchef.StarterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />


            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalchef.view.home.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalchef.view.category.CategoryActivity"
            android:label="Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.personalchef.view.detail.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>